
<%= link_to "All Votes", controller: "votes", action: "index" %>
<%= link_to "Votes except Skips", controller: "votes", action: "noskips" %>
<%= link_to "Only skip votes", controller: "votes", action: "skips" %>
<%= link_to "Only comment votes", controller: "votes", action: "comments" %>

<div class="container-fluid center">
  <div class="row-fluid center">

  	<div class="span3">
  	</div>

	<div class="row table">
	<table>
	  <tr>
	  	<th>time</th>
	    <th>ip</th>
	    <th>song1</th>
	    <th>song2</th>
	    <th>favsong</th>
	    <th>comment</th>
	  </tr>

	<% @votes.each do |vote| %>
	  <tr>
	  	<td> <%= vote.created_at %> </td>
	  	<td> <%= vote.ip %> </td>
	  	<td> <%= vote.song1 %> </td>
		<td> <%= vote.song2 %> </td>
		<td> <%= vote.favsong %> </td>
		<td> <%= vote.comment %> </td>
	  </tr>
	<% end %>

	</table>
	</div>

	</div>
</div>