<div class="row center">
  
  <%= form_for(@vote) do |f| %>


  <%= f.hidden_field :song1, :value => @songs.first.key %>
  <%= f.hidden_field :song2, :value => @songs.last.key %>
  <%= f.hidden_field :ip, :value => @remoteip %>
  <%if defined? session[:time]%>
    <%= f.hidden_field :start_time, :value => session[:time] %>
  <%end%>  

  <div class="control-group">


    <div class="span4 left">
    <%= f.submit "Left is the Best!", class: "span3 btn btn-large btn-primary", :disable_with => "Please wait..." %>
    </div>


    <%= f.submit "Right is the Best!", class: "span3 btn btn-large btn-primary", :disable_with => "Please wait..." %>
    
	<!--
    <div class="span4 right">
      <%= f.submit "Skip!", class: "span3 btn btn-large btn-primary", :disable_with => "Please wait..." %>
    </div>
  -->


    <p></p>

    <div class="controls">
      <%= f.text_area :comment, :required => false, :placeholder => "Type a comment here!  You can tell us what you loved, what you didn’t love, who you love, what you ate for breakfast, a concise proof to Fermat’s Last Theorem, or a Proof of P equals or not-equal NP.", :rows=>4 %>
    </div>

    <div class="controls">

      <%if session[:name].nil? %>
        <%= f.text_area :name, :required => false, :placeholder => "Your Name (optional)", :rows=>4 %>
      <%else%>
        <%= f.text_area :name, :required => false, :value => session[:name], :rows=>4 %>
      <%end%>  

    </div>
    
  </div>

  <% end %>
</div>