<h1>Votes#index</h1>

<div class="row table">
<table>
  <tr>
    <th>ip</th>
    <th>song1</th>
    <th>song2</th>
    <th>favsong</th>
    <th>comment</th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
  	<td> <%= vote.ip %> </td>
  	<td> <%= vote.song1 %> </td>
	<td> <%= vote.song2 %> </td>
	<td> <%= vote.favsong %> </td>
	<td> <%= vote.comment %> </td>
  </tr>
<% end %>

</table>
</div>