<% provide(:title, 'Vote for the best song!') %>

<div class="container-narrow title">
	<h1>Vote for the best song!</h1>
</div>

<div class= "container-narrow title center">
   <h3> Listen to both songs and then vote for your favorite! We'll do funny math based on the results and this will help us put the album together! More info <%= link_to "here", about_path %></h3>
</div>


<div class="row" >
   <div class="span6 right">
      <ul>
         <li><%= @songs.first.key %></li>
         <li><a id="audio" class = "rtmp" style="display:block;width:400px;height:30px;"
       
         href=mp3:<%=@songs.first.key.split('.mp3')[0]%> ></a></li>
      </ul>
   </div>

   <div class="span6 center">
      <ul>
         <li><%= @songs.last.key %></li>
         <li><a id="audio" class = "rtmp" style="display:block;width:400px;height:30px;"
       
         href=mp3:<%=@songs.last.key.split('.mp3')[0]%> ></a></li>
      </ul>
   </div>
</div>



<!-- Call the Flowplayer JavaScript file. -->
<script src="http://d1r35ym006k5wi.cloudfront.net/flowplayer-3.2.12.min.js"></script>

<script type="text/javascript">
$f("a.rtmp", "http://d1r35ym006k5wi.cloudfront.net/flowplayer-3.2.16.swf", { 
   // Configure Flowplayer to use the RTMP plugin for streaming. 
   clip: {
      provider: 'rtmp',
      autoPlay: false
   }, 

   // Specify the location of the RTMP plugin.
   plugins: {  
      rtmp: {  
         url: 'http://d1r35ym006k5wi.cloudfront.net/flowplayer.rtmp-3.2.12.swf',

         // Replace STREAMING-DISTRIBUTION-DOMAIN-NAME with the domain name of your 
         // CloudFront streaming distribution, for example, s5c39gqb8ow64r.cloudfront.net.
         netConnectionUrl: 'rtmp://s3w2s11eretoss.cloudfront.net/cfx/st' ,
         durationFunc: 'getStreamLength'
      },
      controls: {
         fullscreen: false,
         height: 30,
         autoHide: false
      }
   }
});
</script>

<%= render 'form' %>