<% provide(:title, 'Vote for the best song!') %>

<div class="container-narrow title">
	<h1>Vote for the best song!</h1>
</div>

<div class= "container-narrow title center">
   <h3> Listen to both songs and then vote for your favorite! We'll do funny math based on the results and this will help us put the album together! More info <a href="#About">Here</a>.</h3>
</div>


<div class="row" >
   <div class="span6 right">
      <ul>
         <li><%= @songs.first.key %></li>
         <li><a id="audio" class = "rtmp" style="display:block;width:400px;height:30px;"
       
         href=mp3:<%=@songs.first.key.split('.mp3')[0]%> ></a></li>
      </ul>
   </div>

   <div class="span6 center">
      <ul>
         <li><%= @songs.last.key %></li>
         <li><a id="audio" class = "rtmp" style="display:block;width:400px;height:30px;"
       
         href=mp3:<%=@songs.last.key.split('.mp3')[0]%> ></a></li>
      </ul>
   </div>
</div>



<!-- Call the Flowplayer JavaScript file. -->
<script src="http://d1r35ym006k5wi.cloudfront.net/flowplayer-3.2.12.min.js"></script>

<script type="text/javascript">
$f("a.rtmp", "http://d1r35ym006k5wi.cloudfront.net/flowplayer-3.2.16.swf", { 
   // Configure Flowplayer to use the RTMP plugin for streaming. 
   clip: {
      provider: 'rtmp',
      autoPlay: false
   }, 

   // Specify the location of the RTMP plugin.
   plugins: {  
      rtmp: {  
         url: 'http://d1r35ym006k5wi.cloudfront.net/flowplayer.rtmp-3.2.12.swf',

         // Replace STREAMING-DISTRIBUTION-DOMAIN-NAME with the domain name of your 
         // CloudFront streaming distribution, for example, s5c39gqb8ow64r.cloudfront.net.
         netConnectionUrl: 'rtmp://s3w2s11eretoss.cloudfront.net/cfx/st' ,
         durationFunc: 'getStreamLength'
      },
      controls: {
         fullscreen: false,
         height: 30,
         autoHide: false
      }
   }
});
</script>

<%= render 'form' %>


<hr>

<h2>Mail List</h2>
If you're interested in purchasing the album, sign up for my mail list and I'll keep you informed about both the album and upcoming gigs.  Don't worry, I don't send many emails out.  Maybe once a month.  Also, it's easy to unsubscribe if you get sick of cheesey jokes I include in the newsletter.
  <div id="mc_embed_signup">
  <form action="http://newschoolswing.us2.list-manage.com/subscribe/post?u=27374c135533af440aa6e5a5a&amp;id=f5c1e9c171" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  	<label for="mce-EMAIL">Subscribe to the mailing list</label></p>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
  <div class="clear">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
  </div>
  <p><!--End mc_embed_signup--></p>


  <hr>
<h2><a id="About">About</a></h2>
The Fried Bananas have been playing for dancers since 2007 and I've finally decided it’s time to release an album.  We recorded two nights at the excellent <a href="http://montrealdancefest.com/en/">Montreal Dance Festival 2013</a> and one night at <a href="https://sweetmolasses.open-dance.net/">Sweet Molasses Blues 2013</a>.  From that we’ve got about 40 tracks that might be good enough to put on an album.  I thought it would be fun to have all my friends help us pick songs for the album while getting a sneak peak of the tunes.
<p>
So how does this work?  When you have some time, listen to each of the two random tracks that have been selected.  Ideally listen to each track in its entirety.  Click the “Left!” button if you preferred the song on the left and the “Right!” button if you preferred the song on the right.  Pick the songs based on which you’d prefer to have on an Album.
<p>
We'll perform probabilistic inference to infer the optimal Fried Bananas album given everyone's voting patterns.
<p>
It was a pleasure playing with all the musicians at both Sweet Molasses and Montreal Dance Festival.
<p>
	<ul>
<li><a href="http://shawnhershey.com">Shawn Hershey</a> (trumpet) - Thas me!
<li><a href="http://www.joshfialkoff.com/">Josh “Funny Hats” Fialkoff</a> (piano and vocals) 
<li>Matt “Frisky Fingers” Keppler (bass)
<li>Alex “Hold The” Maio (drums)
</ul>
<p>
At Sweet Molasses we also had:
<p>
<ul>
<li><a href="http://www.danfox.com/">Dan Fox</a>(Trombone) 
<li>Ryan McNeely (Guitar)
<li><a href="http://www.ojanmarie.com/">Jan Marie Olownia</a> (vocals)
<li>Graham Tobias (Sound)
</ul>
<p>
At Montreal Dance Festival we had
<p>
<ul>
<li>Jean-Sebastien LeBlanc (clarinet)
<li>Jeff Moseley (guitar)
<li>Maxime Philippe (Sound)
</ul>


